<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
</p>

<p>
  <%= form.label "How are you getting to the Wedding?" %>
  <%= form.select :status, options_for_select(@status) %>
</p>

<p>
  <%= form.label "Leave From" %>
  <%= form.text_field :origin %>
</p>

<p>
  <%= form.label "How can you be contacted?" %>
  <%= form.text_field :contact_info %>
</p>

<p> <%= form.submit %> </p>




