<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
</p>

<p>
  <%= form.label :status %>
  <%= form.select :status, options_for_select(@status) %>
</p>

<p>
  <%= form.label :origin %>
  <%= form.text_field :origin %>
</p>

<p>
  <%= form.label :contact_info %>
  <%= form.text_field :contact_info %>
</p>

<p> <%= form.submit %> </p>




