<div><%=link_to "Create Ride", new_ride_path%></div>

<h1>Rides</h1>

<% @rides.each do |r| %>
<table>

  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Leaving From</th>
    <th>Contact Info</th>

  </tr>

    <td><%= r.name%></td>
    <td><%= r.status%></td>
    <td><%= r.origin%></td>
    <td><%= r.contact_info%></td>
    <td><%= link_to "Edit", edit_ride_path(r) %></td>
    <td><%= link_to "Delete", ride_path(r), method: :delete, data: {confirm: "Are you positive?"} %></td>


</table>
</br>

<% end %>