<div class="corner-more-relevant"><%=link_to "Add Your Name To List Here", new_ride_path%></div>

<% unless @matches.empty? %>

  <h1 class="letter-blue">Matches</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>status</th>
        <th>Needs Ride From</th>
        <th>Contact Info</th>

      </tr>
    </thead>

  <% @matches.each do |r| %>
    <tbody>
      <tr>
        <td><%= r.name%></td>
        <td><%= r.status%></td>
        <td><%= r.origin%></td>
        <td><%= r.contact_info%></td>
      </tr>
    </tbody>
   <% end %>
  </table>

<% end %>

<h1 class="letter-blue">Who needs a ride?</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Needs Ride From</th>
      <th>Contact Info</th>

    </tr>
  </thead>

<% @riders.each do |r| %>
  <tbody>
    <tr>
      <td><%= r.name%></td>
      <td><%= r.origin%></td>
      <td><%= r.contact_info%></td>
      <td><%= link_to "Edit", edit_ride_path(r) %></td>
      <td><%= link_to "Delete", ride_path(r), method: :delete, data: {confirm: "Are you positive?"} %></td>
    </tr>
  </tbody>
 <% end %>
</table>

<h1 class="letter-blue">Who is driving?</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Driving From</th>
      <th>Contact Info</th>

    </tr>
  </thead>

<% @drivers.each do |r| %>
  <tbody>
    <tr>
      <td><%= r.name%></td>
      <td><%= r.origin%></td>
      <td><%= r.contact_info%></td>
      <td><%= link_to "Edit", edit_ride_path(r) %></td>
      <td><%= link_to "Delete", ride_path(r), method: :delete, data: {confirm: "Are you positive?"} %></td>
    </tr>
  </tbody>
 <% end %>
</table>





