<h1 class="letter-blue">Your Info has been saved</h1>

<div class="center-form">
  <p> Name: <strong><%= @ride.name %></strong></p>

  <p>Type: <strong><%= @ride.status %></strong></p>
  <p>Going to the wedding from: <strong><%= @ride.origin %></strong></p>
  <p>Contact Information: <strong><%= @ride.contact_info %></strong></p>

  <%= link_to "Go to Main Page", rides_path %>

</div>
